name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set short SHA
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
    - name: Build the Docker image
      run: | 
        docker build . --file Dockerfile \
          --tag ${{ secrets.DOCKERHUB_USERNAME }}/music-man:${{ env.SHORT_SHA }} \
          --tag ${{ secrets.DOCKERHUB_USERNAME }}/music-man:latest
    - name: Push to Docker Hub
      run: | 
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/music-man:${{ env.SHORT_SHA }}
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/music-man:latest
